
<h1>Hi welcome to RateMe!</h1>
<h2>This is one of the sample applications for <%= link_to "RateMe", "http://www.rateme.com" %>, a platform that allow people to rate their favorite and non-favorite restarurants</h2>
